@model IEnumerable<BlogMvcApp.Models.Blog>
@{}
    ViewBag. = "Home Page";
}

<h2>Index</h2>
@foreach(var i in Model)
{
    <p>i.Baslik</p>
    
};
<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
